@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

:root {
    --theme-color: rgb(213, 1, 1);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 70px;
}

nav {
    position: fixed;
    z-index: 100;
}

li {
    padding-top: 0.5rem;
}

ol {
    text-align: left;
}
  
.brand-logo,
.page-title {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.dropdown-content li > a,
.dropdown-content li > span,
.sidenav li > a,
.theme-color {
    color: var(--theme-color);
}

.main-text {
    font-size: x-large;
}

.flashes {
    color: var(--theme-color);
    font-weight: 700;
    font-size: x-large;
    background-color: yellow;
}

.button-div {
    margin: 0.5em auto
}

.modal-action,
.modal {
    margin: 0 auto;
    color: var(--theme-color)
}

.modal-footer-workaround {
    margin-top: 20px;
}

.page-footer,
nav {
    background-color: var(--theme-color);
}

.btn.tooltipped {
    background-color: lightgrey;
    color: darkgray;
}

.text-link {
    color: inherit;
    text-decoration: underline;
    background: inherit;
    box-shadow: none;
    height: auto;
    width: fit-content;
    margin: auto;
    cursor: pointer;
}

.text-link:hover {
    background-color: var(--theme-color);
}

.underline {
    text-decoration: underline;
}

.modal-recipe-title {
    border-bottom: white;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

.modal-exit {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: x-large;
}

.hidden {
    display: none;
}

.flashes {
    margin-bottom: 1rem;
}

.recipe-modal {
    width: 95%;
    max-height: 78vh;
}

.recipe-modal .ingredients-content {
    margin-bottom: 1rem;
}

.notice {
    font-size: x-large;
    background-color: yellow;
    color: var(--theme-color);
    padding: 0.5em;
}

/* Overruling Materialize's default layouts */

    .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
        margin-right: 0;
    }

    .card .card-content,
    .card .card-action {
        padding: 0.5rem;
        overflow-wrap: anywhere;
    }

    .card .card-image {
        overflow: hidden;
        background-position: center;
        background-size: cover;
        height: 300px;
    }

    .pagination li a {
        position: relative;
        bottom: 5px;
    }

    .modal-content .row {
        margin-bottom: 0;
    }

/* Code beginning here taken and adapted from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

    #scroll-btn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: 1px white solid;
        outline: none;
        background-color: var(--theme-color);
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 50%;
        font-size: 18px;
    }
    
    #scroll-btn:hover {
        background-color: #555;
    }

/* Code ending here taken and adapted from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

/* Media queries begin here */

    @media screen and (max-width: 600px) {

        textarea.materialize-textarea {
            height: 63px;
        }
    
    }

    @media screen and (min-width: 601px) and (max-width: 1200px) {

        .card-content {
            height: 190px;
        }
    
    }

    @media screen and (min-width: 1201px) {

        .card-content {
            height: 160px;
        }
    
    }

    @media screen and (max-width: 992px) {

        .modal {
            width: 90%;
        }
    
    }

/* Media queries end here */