{% extends "base.html" %}
{% block content %}

    <h2 class="page-title theme-color center">Add Recipe</h2>

    <div id="page-content" class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <!-- recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-pencil prefix red-text text-darken-2"></i>
                    <input id="recipe_name" name="recipe_name" minlength="3" maxlength="100" type="text" class="validate"
                        required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- category name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix red-text text-darken-2"></i>
                    <select id="category_id" name="category_id" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- ingredients -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-list-ul prefix red-text text-darken-2"></i>
                    <textarea id="ingredients" name="ingredients" class="materialize-textarea validate" placeholder="Enter each ingredient & quantity on a new line." required></textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>
            <!-- instructions -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-list-ol prefix red-text text-darken-2"></i>
                    <textarea id="instructions" name="instructions" class="materialize-textarea validate" placeholder="Enter each instruction in order and on a new line." required></textarea>                    
                    <label for="instructions">Recipe Instructions</label>
                </div>
            </div>
            <!-- image url -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-image prefix red-text text-darken-2"></i>
                    <input id="img_url" name="img_url" type="text" class="validate" pattern="https?://.+">
                    <label for="img_url">Image URL</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align button-div">
                    <button type="submit" class="btn-large green darken-4 text-shadow">
                        Add Recipe <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col s12 center-align button-div">
                <a class="btn-cancel">
                    <button class=" btn-large red darken-4 text-shadow">
                        Cancel
                    </button></a>
            </div>
        </div>
    </div>

{% endblock %}