{% extends "base.html" %}
{% block content %}

    <h2 class="page-title theme-color center">{{ category.category_name }} Recipes</h2>

    <div class="row center-align">
        {% if recipes|length > 0 %}
            {% for recipe in recipes %}
                <div class="col s12 m6 l3">
                    <div class="card red-subtheme text-shadow center-align">
                        <div class="card-image" style="background-image: url(
                            {% if recipe.img_url != '' %}
                                {{ recipe.img_url }}
                            {% else %}
                                ../static/images/img-empty.png
                            {% endif %}
                            );">
                        </div>
                        <div class="card-content white-text content-wrapper">
                            <!-- Modal Trigger -->
                            <a href="#recipe-modal-{{ recipe.id }}" class="card-title modal-trigger text-link">{{ recipe.recipe_name }}</a>
                            <p>Owner: 
                                {% for mongo_recipe in mongo_recipes %}
                                    {% if mongo_recipe.id == recipe.id %}
                                        {{ mongo_recipe.created_by }}
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                        <div class="card-action">
                            <!-- Additional Modal Trigger -->
                            <a href="#recipe-modal-{{ recipe.id }}" class="btn card-btn modal-trigger">View Details</a>
                        </div>
                    </div>
                </div>
                <!-- Modal Structure -->
                <div id="recipe-modal-{{ recipe.id }}" class="modal recipe-modal">
                    <div class="modal-content red accent-4 white-text">
                        <i class="fa-solid fa-circle-xmark modal-exit modal-close"></i>
                        <h3 class="modal-recipe-title">{{ recipe.recipe_name }}</h3>
                        <h4>Category: {{ recipe.category }}</h4>
                        <div class="row">
                            <div class="col s12 m6 ingredients-content">
                                <h5>Ingredients</h5>
                                <ul>
                                    {% for mongo_recipe in mongo_recipes %}
                                        {% if mongo_recipe.id == recipe.id %}
                                            {%- for ingredient in mongo_recipe.ingredients -%}
                                                <li>{{- ingredient }}</li>
                                            {%- endfor -%}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col s12 m6">
                                <h5>Instructions</h5>
                                <ol>
                                    {% for mongo_recipe in mongo_recipes %}
                                        {% if mongo_recipe.id == recipe.id %}
                                            {%- for instruction in mongo_recipe.instructions -%}
                                                <li>{{- instruction }}</li>
                                            {%- endfor -%}
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                        <h4>Owner: 
                            {% for mongo_recipe in mongo_recipes %}
                                {% if mongo_recipe.id == recipe.id %}
                                    {{ mongo_recipe.created_by }}
                                {% endif %}
                            {% endfor %}
                        </h4>
                    </div>
                    <div class="modal-footer">
                        <div class="col s12 center">
                            <button class="modal-action modal-close btn green darken-4 white-text">Close</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3 class="theme-color center">No results found</h3>
            <a class="theme-color text-link center" href="{{ url_for('get_recipes') }}">Click to View All Recipes</a>
        {% endif %}
    </div>

{% endblock %}