{% extends "base.html" %}
{% block content %}

    <h2 class="page-title theme-color center">Categories</h2>

    <div class="row">
        {% if categories|length > 0 %}
            {% for category in categories %}
                <div class="col s12 m4 l3">
                    <div class="card red accent-5 text-shadow center-align">
                        <div class="card-content white-text">
                            <a href="{{ url_for('view_category', category_id=category.id) }}" class="card-title text-link">{{ category.category_name }}</a>
                            <p>
                                {% set listLength = namespace(n = 0) %}
                                {% for recipe in recipes %}
                                    {% if recipe.category_id == category.id %}
                                        {% set listLength.n = listLength.n + 1 %}
                                    {% endif %}
                                {% endfor %}
                                {% if listLength.n == 1 %}
                                    Contains {{ listLength.n }} Recipe
                                {% elif listLength.n == 0 %}
                                    Contains No Recipes
                                {% else %}
                                    Contains {{ listLength.n }} Recipes
                                {% endif %}
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="{{ url_for('view_category', category_id=category.id) }}" class="btn red darken-4">View Recipes</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3 class="theme-color center">No results found</h3>
        {% endif %}
    </div>

{% endblock %}