{% extends "base.html" %}
{% block content %}

    <h2 class="page-title theme-color center">Manage Recipes</h2>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_recipe') }}" class="btn-large red accent-4 text-shadow">
                Add Recipe <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <div class="row">
        {% if recipes|length > 0 %}
            {% for recipe in recipes %}
                <div class="col s12 m4 l3">
                    <div class="card red accent-5 text-shadow center-align">
                        <div class="card-content white-text">
                            <a data-target="modal_view_{{ recipe.recipe_name.lower() }}" class="btn card-title recipe-link modal-trigger">{{ recipe.recipe_name }}</a>
                            <p>
                                Category: 
                                {% for category in categories %}
                                    {% if category.id == recipe.category_id %}
                                        {{ category.category_name }}
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p>
                                Owner: 
                                {% for mongo_recipe in mongo_recipes %}
                                    {% if recipe.id == mongo_recipe["id"] %}
                                        {{ mongo_recipe["created_by"] }}
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" class="btn green darken-4">Edit</a>
                            <!-- Modal Trigger -->
                            <a data-target="modal_delete_{{ recipe.recipe_name.lower() }}" class="btn red darken-4 modal-trigger">Delete</a>
                        </div>
                        <!-- Modal Structure -->
                        <div id="modal_delete_{{ recipe.recipe_name.lower() }}" class="modal">
                            <div class="modal-content red accent-4 white-text">
                                <h3>Warning!</h3>
                                <p>Deleting a recipe is permanent and the associated data will be irrecoverable.</p>
                                <p>Are you sure you want to permanently delete the <strong>{{ recipe.recipe_name }}</strong> recipe?</p>
                            </div>
                            <div class="modal-footer">
                                <div class="col s6 center">
                                    <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" class="modal-action btn red darken-4 white-text">DELETE RECIPE</a>
                                </div>
                                <div class="col s6 center">
                                    <a class="modal-action modal-close btn green darken-4 white-text">CANCEL</a>
                                </div>
                            </div>
                        </div>
                        <div id="modal_view_{{ recipe.recipe_name.lower() }}" class="modal">
                            <div class="modal-content red accent-4 white-text">
                                <i class="fa-solid fa-circle-xmark modal-exit modal-close"></i>
                                <h3 class="modal-recipe-title">{{ recipe.recipe_name }}</h3>
                                <div class="row">
                                    <div class="col s12 m4">
                                        <h5>Ingredients</h5>
                                        <p>Unordered list of ingredients</p>
                                    </div>
                                    <div class="col s12 m8">
                                        <h5>Instructions</h5>
                                        <p>Ordered list of instructions</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3 class="theme-color center">No results found</h2>
        {% endif %}
    </div>

{% endblock %}