{% extends "base.html" %}
{% block content %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes container center">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <h2 class="page-title theme-color center">{{ username }}'s Profile Options</h2>

    <div class="row">
        <div class="col s12 m6 l3">
            <div class="card red darken-1">
                <div class="card-content white-text">
                    <span class="card-title center">My Recipes</span>
                    <p class="center">View and manage recipes you've added to the website.</p>
                </div>
                <div class="card-action center">
                    <a href="#">Go to My Recipes</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card red darken-1">
                <div class="card-content white-text">
                    <span class="card-title center">My Favourites</span>
                    <p class="center">View and manage recipes you've added to your Favourites.</p>
                </div>
                <div class="card-action center">
                    <a href="#">Go to My Favourites</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card red darken-1">
                <div class="card-content white-text">
                    <span class="card-title center">Add Recipe</span>
                    <p class="center">Add a new recipe to the website.</p>
                </div>
                <div class="card-action center">
                    <a href="#">Add Recipe</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card red darken-1">
                <div class="card-content white-text">
                    <span class="card-title center">Log Out</span>
                    <p class="center">Log out of the website.</p>
                </div>
                <div class="card-action center">
                    <a href="{{ url_for('logout') }}">Log Out</a>
                </div>
            </div>
        </div>
    </div>

    {% if is_superuser %}
        <h2 class="page-title theme-color center">{{ username }}'s Superuser Options</h2>

        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card red darken-1">
                    <div class="card-content white-text">
                        <span class="card-title center">Manage Recipes</span>
                        <p class="center">Manage the website's recipes.</p>
                    </div>
                    <div class="card-action center">
                        <a href="#">Go to All Recipes</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card red darken-1">
                    <div class="card-content white-text">
                        <span class="card-title center">Manage Categories</span>
                        <p class="center">Manager the website's recipe categories.</p>
                    </div>
                    <div class="card-action center">
                        <a href="{{ url_for('get_categories') }}">Go to All Categories</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card red darken-1">
                    <div class="card-content white-text">
                        <span class="card-title center">Manage Users</span>
                        <p class="center">Manager the website's registered users.</p>
                    </div>
                    <div class="card-action center">
                        <a href="{{ url_for('get_users') }}">Manage Users</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}