{% extends "base.html" %}
{% block content %}

    <h2 class="page-title theme-color center">Manage Users</h2>

    <div class="container center">
        <div class="col s12 center">
            <!-- users table -->
            <table class="highlight centered">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Superuser Status</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.user_name }}</td>
                            <td>
                                {% if user.is_superuser %}
                                    <i class="fa-solid fa-check"></i>
                                {% else %}
                                    <i class="fa-solid fa-xmark"></i>
                                {% endif %}
                            </td>
                            <td>
                                <div class="card-action">
                                    {% if user.id == 1 %} <!-- if the user is the original admin superuser -->
                                        <a class="btn tooltipped" data-position="top" data-tooltip="This user cannot be edited or deleted.">Edit</a>
                                        <!-- delete user modal trigger -->
                                        <a class="btn tooltipped" data-position="top" data-tooltip="This user cannot be edited or deleted.">Delete</a>
                                    {% else %}
                                        <a href="{{ url_for('edit_user', user_id=user.id) }}" class="btn green darken-4">Edit</a>
                                        <!-- delete user modal trigger -->
                                        <button data-target="modal-delete-{{ user.user_name.lower() }}" class="btn red darken-4 modal-trigger">Delete</button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% for user in users %}
            <!-- delete user modal structure -->
            <div id="modal-delete-{{ user.user_name.lower() }}" class="modal">
                <div class="modal-content red accent-4 white-text">
                    <h3>Warning!</h3>
                    <p>Deleting a user is an irreversible action.</p>
                    <p>Upon deletion, this user will be permanently deleted, but their recipes will remain on the database.</p>
                    <p>Are you sure you want to permanently delete the <strong>{{ user.user_name }}</strong> user?</p>
                </div>
                <div class="modal-footer-workaround row modal-fixed-footer">
                    <!-- delete user button -->
                    <div class="col s6 center">
                        <a href="{{ url_for('delete_user', user_id=user.id) }}"
                            class="modal-action btn red darken-4 white-text">DELETE USER</a>
                    </div>
                    <!-- cancel button -->
                    <div class="col s6 center">
                        <button class="modal-action modal-close btn green darken-4 white-text">CANCEL</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}